<% provide :title, t(".title") %>
<div class="content">
  <table class="table">
    <thead class=" text-primary">
      <th>
        <%= t ".product" %>
      </th>
      <th>
        <%= t ".quantity" %>
      </th>
      <th>
        <%= t ".current_price" %>
      </th>
      <th>
        <%= t ".total_price" %>
      </th>
    </thead>
    <tbody>
      <%= render partial: "orders_histories/detail", collection: @detail_orders %>
    </tbody>
    <p class="total_price_order">Tổng tiền: <%= number_to_currency total_order @detail_orders %></p>
  </table>
</div>
