<% provide(:title, t(".login")) %>
<section class="bg0 p-t-104 p-b-116">
  <div class="container">
    <div class="form_login">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        <%= t(".login") %>
      </h4>
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.email_field :email, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".email")%>
        </div>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :password, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".password")%>
        </div>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <span>
            <%= f.check_box :remember_me %>
            <a><%= t(".remember_me") %></a>
          </span>
        <% end %>
        <%= f.submit t(".login"), class: "flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" %>
      <% end %>
    <p><%= t(".notuser") %> <%= link_to t(".signupnow"), new_user_path %></p>
    </div>
  </div>
</section>
