<% provide :title, t(".title") %>

<div class="content">
<h1><%= t(".title") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @order] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t ".status" %>
      <%= f.select :status, enum_options_for_select(Order, :status) %>
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
