<% provide :title, t(".title") %>

<table class="table">
  <thead class=" text-primary">
    <% if @orders.present? %>
      <th>
        <%= t ".name" %>
      </th>
      <th>
        <%= t ".phone" %>
      </th>
      <th>
        <%= t ".address" %>
      </th>
      <th>
        <%= t ".order_date" %>
      </th>
      <th>
        <%= t ".date_success" %>
      </th>
      <th class="change_status_order">
        <%= t ".status" %>
      </th>
      <th>
        <%= t ".detail" %>
      </th>
      <th>
        <%= t ".function" %>
      </th>
    <% else %>
      <h4 class="null_data">Chưa có đơn đặt hàng nào</h4>
    <% end %>
  </thead>
  <tbody>
    <%= render partial: "admin/orders/order", collection: @orders %>
  </tbody>
</table>
<%= will_paginate %>
<%= javascript_include_tag "ajax_cart" %>
