<% provide :title, t(".title") %>
<div class="content">
  <table class="table">
    <thead class=" text-primary">
      <th>
        <%= t ".name" %>
      </th>
      <th>
        <%= t ".phone" %>
      </th>
      <th>
        <%= t ".address" %>
      </th>
      <th>
        <%= t ".order_date" %>
      </th>
      <th>
        <%= t ".date_success" %>
      </th>
      <th>
        <%= t ".status" %>
      </th>
      <th>
        <%= t ".detail" %>
      </th>
      <th>
        <%= t ".function" %>
      </th>
    </thead>
    <tbody>
      <%= render partial: "admin/orders/order", collection: @orders %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
