<% provide :title, t(".title") %>
<div class="content">
  <table class="table">
    <thead class=" text-primary">
      <th>
        <%= t ".product" %>
      </th>
      <th>
        <%= t ".quantity" %>
      </th>
      <th>
        <%= t ".current_price" %>
      </th>
      <th>
        <%= t ".total_price" %>
      </th>
    </thead>
    <tbody>
      <%= render partial: "orders_histories/detail", collection: @detail_orders %>
    </tbody>
    <p class="show_order_admin"><%= t ".name_person_purchase" %><%= @order.user.name %></p>
    <p class="show_order_admin"><%= t ".name_person_receive" %><%= @order.name %></p>
    <p class="show_order_admin"><%= t ".address_person_receive" %><%= @order.address %></p>
    <p class="total_price_order"><%= t ".total_cart" %><%= number_to_currency total_order @detail_orders %></p>
  </table>
</div>
