<% provide :title, t(".title") %>

<div class="content">
<h1><%= t(".title") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label t ".name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label t ".picture" %>
    <%= f.file_field :picture, accept: Settings.accept_picture %>

    <%= f.label t ".phone" %>
    <%= f.text_field :phone, class: "form-control" %>

    <%= f.label t ".password" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.submit t(".save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
