<% provide(:title, t(".sign_up")) %>

<section class="bg0 p-t-104 p-b-116">
  <div class="container">
    <div class="form_login">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        <%= t(".sign_up") %>
      </h4>
      <%= form_for @user do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.text_field :name, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".name")%>
        </div>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.email_field :email, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".email")%>
        </div>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :password, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".password")%>
        </div>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :password_confirmation, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".password_confirmation")%>
        </div>
        <%= f.submit t(".submit"), class: "flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" %>
      <% end %>
    <p><%= t(".haven_user") %> <%= link_to t(".signupnow"), login_path %></p>
    </div>
  </div>
</section>
