<% provide :title, t(".title") %>

<table class="table">
  <thead class=" text-primary">
    <%if @contacts.present? %>
      <th>
        <%= t(".name") %>
      </th>
      <th>
        <%= t(".email") %>
      </th>
      <th>
        <%= t(".phone") %>
      </th>
      <th>
        <%= t(".food_name") %>
      </th>
      <th>
        <%= t(".picture") %>
      </th>
      <th>
        <%= t(".description") %>
      </th>
      <th>
        <%= t(".user") %>
      </th>
      <th>
        <%= t(".date_feaback") %>
      </th>
      <th>
        <%= t(".status") %>
      </th>
      <th>
        <%= t(".function") %>
      </th>
    <% else %>
      <h4 class="null_data">Chưa có liên hệ nào</h4>
    <% end %>
  </thead>
  <tbody>
    <%= render @contacts %>
  </tbody>
</table>
<%= will_paginate %>
