<% provide :title, t(".title") %>
<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1" colspan="2"><%= t(".name") %></th>
                <th class="column-3"><%= t(".price") %></th>
                <th class="column-4"><%= t(".quantity") %></th>
                <th class="column-5"><%= t(".total") %></th>
                <th class="column-6"><%= t(".delete") %></th>
              </tr>
              <%= render partial: "carts/cart_products", collection: @products %>
            </table>
          </div>

          <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
            <div class="flex-w flex-m m-r-20 m-tb-5">
              <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon"
                placeholder="Code">

              <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                <%= t(".apply_code") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h4 class="mtext-109 cl2 p-b-30">
            <%= t(".cart_totals") %>
          </h4>

          <div class="flex-w flex-t p-t-27 p-b-33">
            <div class="size-208">
              <span class="mtext-101 cl2">
                <%= t(".total") %>
              </span>
            </div>

            <div class="size-209 p-t-1">
              <span class="mtext-110 cl2">
                <p id="total-cart"><%= number_to_currency total_cart %></p>
              </span>
            </div>
          </div>

          <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
            <%= link_to new_order_path do %>
              <%= t(".proceed_to_checkout") %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<%= javascript_include_tag "ajax_cart" %>
