<% provide :title, t(".title") %>

<%= link_to t(".add_category"), new_admin_category_path, class: "add_category" %>
<table class="table">
  <thead class=" text-primary">
    <%if @categories.present? %>
      <th>
        <%= t(".name") %>
      </th>
      <th>
        <%= t(".function") %>
      </th>
    <% else %>
      <h4 class="null_data">Chưa có danh mục</h4>
    <% end %>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
<%= will_paginate %>

