<% provide :title, t(".title") %>

<%= link_to t(".add_product"), new_admin_product_path, class: "add_product" %>
<table class="table">
  <thead class=" text-primary">
    <% if @products.present? %>
      <th>
        <%= t(".name") %>
      </th>
      <th>
        <%= t(".description") %>
      </th>
      <th>
        <%= t(".picture") %>
      </th>
      <th>
        <%= t(".detail") %>
      </th>
      <th>
        <%= t(".price") %>
      </th>
      <th>
        <%= t(".status") %>
      </th>
      <th>
        <%= t(".category") %>
      </th>
      <th>
        <%= t(".function") %>
      </th>
    <% else %>
      <h4 class="null_data">Chưa có sản phẩm nào</h4>
    <% end %>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
<%= will_paginate %>
