<tr>
  <td>
    <%= user.name %>
  </td>
  <td class="resize_image_user">
    <%= image_tag user.picture.url if user.picture? %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.phone %>
  </td>
  <td>
    <%= enum_l(user, :activated) %>
  </td>
  <td>
    <%= enum_l(user, :role) %>
  </td>
  <td><%= link_to t(".edit"), edit_admin_user_path(user), method: :get %> |
    <%= link_to t(".delete"), admin_user_path(user), method: :delete, data: {confirm: t(".confirm")} %></td>
</tr>
